<!DOCTYPE html>
<html>
	<head>
		<title>Let's get ready to ruuuuuuumble!!!</title>
	</head>
	<body>
		<h1>Lawler Ipsum</h1>

		<div id="main-container">
			<button id="generate-button">Generate paragraph</button>
			<!---		<p><%= @paragraph %></p>		-->
			<textarea id="show-box"></textarea>
			<button id="copy-button">Copy to clipboard</button>
		</div>		
		<script src="lawler.js"></script>
	</body>
</html>

