<!DOCTYPE html>
<html>
	<head>
		<title>Let's get ready to ruuuuuuumble!!!</title>
	</head>
	<body>
		<h1>Lawler Ipsum</h1>

		<div id="main-container">
			<p>The best wrestling-related filler text generator there was, the best there is, and the best there ever will be.</p>
			<form id="text-type-form">
				<input type="radio" name="which-text" value="sentences" checked>Sentences: 
				<input id="sentences-number" type="text" name="sentences-number" maxlength="2"><br>
				<input type="radio" name="which-text" value="paragraphs">Paragraphs<br>				
				<input id="paragraphs-number" type="text" name="paragraphs-number" maxlength="2"><br>
			</form>
			<button id="generate-button">Lay it on me, brother.</button>
			<!---		<p><%= @paragraph %></p>		-->
			<textarea id="show-box"></textarea>
			<button id="copy-button">Copy to clipboard</button>
		</div>		
		<script src="lawler.js"></script>
	</body>
</html>

