#site-container {
	max-width: 1200px;
	margin: auto;
}

#main-container {
	background-color: red;
	display: flex;
}

#content {
	min-width: 50%;
	min-height: 400px;
}

#show-box {
	font-family: sans-serif; 
	font-size: 1em;
	width: 98%;
	height: 98%;
	resize: vertical;
}

.button {
	height: 50px;
}

#user-input {
	width: 25%;
}




